<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SOMOS - Privacy Policy</title>
	<!-- added google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&family=Source+Sans+3:wght@400;600&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/style.css') }}">
</head>

<body>
	<nav>
		<div class="NavContainer constraint">
			<ul class="Navlist">
				<li><a href="https://eatsomos.com/collections">shop all</a></li>
				<li><a href="https://eatsomos.com/pages/our-story">our story</a></li>
				<li><a href="https://eatsomos.com/blogs/recipes-v2">recipes</a></li>
				<li><a href="https://eatsomos.com/pages/store-locator">find us</a></li>
			</ul>
	
			<a href="https://eatsomos.com" class="Logo">
				<img src="../static/assets/somos-logo.png" alt="">
			</a>
	
			<div class="NavActions">
				<a href="https://eatsomos.com/a/account/login" class="Mexicap">
					<svg width="35" height="25" viewBox="0 0 35 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M30.2589 19.8067C25.4389 23.6757 8.58738 23.6757 3.76738 19.8067C2.28075 18.6156 0.332443 12.5213 2.07761 13.2693C8.28267 15.9193 25.6051 16.1225 31.9487 13.2693C33.6754 12.4844 31.7455 18.6156 30.2589 19.8067Z"
							stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
						<path
							d="M10.3509 14.192C10.3509 14.192 10.2863 7.28511 11.9207 4.15488C12.6594 2.74213 14.2937 1.38477 16.9992 1.38477C19.4277 1.38477 21.3483 2.74213 22.087 4.15488C23.7121 7.28511 23.6567 14.192 23.6567 14.192"
							stroke="white" stroke-width="2" stroke-miterlimit="10" />
						<path
							d="M23.6567 11.3114L21.256 8.81836L19.1414 11.3114L17.11 8.81836L14.857 11.3114L12.7332 8.81836L10.4248 11.3114"
							stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</a>
	
				<a href="/" class="Search">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
							stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M21 21.0002L16.7 16.7002" stroke="white" stroke-width="2" stroke-linecap="round"
							stroke-linejoin="round" />
					</svg>
				</a>
	
				<a href="https://eatsomos.com/cart" class="Cart">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M8 22C8.55228 22 9 21.5523 9 21C9 20.4477 8.55228 20 8 20C7.44772 20 7 20.4477 7 21C7 21.5523 7.44772 22 8 22Z"
							stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						<path
							d="M19 22C19.5523 22 20 21.5523 20 21C20 20.4477 19.5523 20 19 20C18.4477 20 18 20.4477 18 21C18 21.5523 18.4477 22 19 22Z"
							stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						<path
							d="M2.05005 2.0498H4.05005L6.71005 14.4698C6.80763 14.9247 7.06072 15.3313 7.42576 15.6197C7.7908 15.908 8.24495 16.0602 8.71005 16.0498H18.49C18.9452 16.0491 19.3865 15.8931 19.7411 15.6076C20.0956 15.3222 20.3422 14.9243 20.4401 14.4798L22.09 7.0498H5.12005"
							stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</a>
	
				<button>
					<div class="TopBurger"></div>
					<div class="MidBurger">
						<div class="LeftBurger"></div>
						<div class="RightBurger"></div>
					</div>
					<div class="BottomBurger"></div>
				</button>
			</div>
		</div>
	</nav>

	<header class="overflow-hidden">
		<img src="../static/assets/svg/pattern-1.svg" alt="" class="PatternOne">

		<div class="Container constraint">
			<div class="Texts">
				<h1>
					ABUELA CHATGPT DATA PRIVACY PAGE
				</h1>
			</div>
		</div>
	</header>

	<section class="PrivacyContent overflow-hidden">
		<div class="Container constraint">
			<div class="TextComp">
				<span>
					Data Privacy and Usage Statement
				</span>

				<p>
					At SOMOS we are committed to protecting your data and ensuring
					compliance with data privacy regulations. This statement outlines how we
					collect, use, and safeguard the information you provide while interacting
					with our ChatGPT powered activation.
				</p>
			</div>

			<div class="TextComp">
				<span>
					Data Collection
				</span>

				<p>
					When you engage with our Abuela.ai activation, we may collect and store
					the text-based interactions for the purpose of improving user experience
					and refining the system's performance. However, we do not collect
					personally identifiable information (PII) unless explicitly provided by you
					during the conversation.
				</p>
			</div>

			<div class="TextComp">
				<span>
					Data Usage
				</span>

				<p>
					The data collected through the ChatGPT powered activation may be used
					for internal analysis, research, and to enhance the quality of our services.
					This data will not be shared, sold, or otherwise distributed to third parties
					for marketing or commercial purposes.
				</p>
			</div>

			<div class="TextComp">
				<span>
					Data Security
				</span>

				<p>
					We take security seriously. We employ industry-standard security
					measures to protect the data you provide against unauthorized access,
					alteration, or disclosure.
				</p>
			</div>

			<div class="TextComp">
				<span>
					Cookies
				</span>

				<p>
					We may use cookies or similar tracking technologies to enhance your
					experience on our website. These cookies do not capture personal
					information and can be managed through your browser settings.
				</p>
			</div>

			<div class="TextComp">
				<span>
					Your Consent
				</span>

				<p>
					By using our ChatGPT powered Abuela.ai activation, you consent to the
					collection and use of information as outlined in this statement.
				</p>
			</div>

			<div class="TextComp">
				<span>
					Your Rights
				</span>

				<p>
					You have the right to request access, correction, or deletion of the data we
					hold about you. If you have any concerns or questions about your data,
					please contact us at [email address or contact form link].
				</p>
			</div>

			<div class="TextComp">
				<span>
					Updates to Privacy Policy
				</span>

				<p>
					This Data Privacy and Usage Statement may be updated from time to time
					to reflect changes in our practices. Please review this statement
					periodically.
					By engaging with our ChatGPT powered Abuela.ai activation, you
					acknowledge that you have read and understood this statement, and you
					agree to the terms outlined herein.
				</p>
			</div>
		</div>
	</section>

	<footer>
		<div class="constraint">
			<p>
				For any questions or concerns, please email: <a href="mailto: hola@abuela.ai">hola@abuela.ai</a>
			</p>
		</div>
	</footer>

	<script type="module" src="../static/scripts/index.js"></script>
	<script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
</body>

</html>